@import './variables.scss';

:export {
  scale: $scale;
  bgc: $bgc;
  color: $color;
  active_bgc: $active-bgc;
  active_color: $active-color;
  header_bgc: $header-bgc;
  aside_bgc: $aside-bgc;
  tabs_bgc: $tabs-bgc;
}